rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /prayers/{document=**} {
      allow create: if true;
      allow read: if request.auth != null && request.auth.token.email == 'acts5.admin@gmail.com';
      allow update, delete: if false;
    }
  }
}
